
.resume {
  font-family:Helvetica;
  .something {
	  margin-bottom:0;
	  font-weight:bold;
	}
	.connector_text {
	  font-weight:normal;
	}
}

h2 {
  text-align: center;
}

div {
  border-radius: 1px;
}