$tg-body-bg: #e5e5e5;
$tg-norm-color: #2B72FF;
$tg-dark-color: #1D62EA;
$tg-light-color: #3A89FF;

$tg-border-color: #d8d8d8;

$tg-main-text-color: #3F454C;

$tg-cal-color: #FF3B30;

$tg-titles: em-calc(27);


$body-bg: $tg-body_bg;

$body-font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: 300;
$body-font-color: #797F8C;
$header-font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 500;

$primary-color: $tg-dark-color;
$anchor-font-color-hover: $tg-main-text-color;

$topbar-bg: $tg-norm-color;
$topbar-dropdown-bg: $tg-norm-color;
$topbar-dropdown-label-color: $tg-light-color;
$topbar-dropdown-link-bg: $tg-light-color;
$topbar-link-bg-hover: $tg-dark-color;
$topbar-link-bg-active: $tg-dark-color;
$topbar-link-weight: $body-font-weight;
$topbar-menu-link-color-toggled: #ccc;
$topbar-menu-icon-color-toggled: #ccc;
$topbar-divider-border-bottom: solid 1px lighten($topbar-bg, 10%);
$topbar-divider-border-top: solid 1px darken($topbar-bg, 10%);

$crumb-border-style: none;
$crumb-bg: $tg-body-bg;

$column-gutter: em-calc(15);


$tgmp-back-color: #4f565f;
$tgmp-highlight-color: #7A8FA3;
$tgmp-text-color: #fff;
$tgmp-text-alt-color: #a6acb8;
$tgmp-dark-color: #383c42;


#tgmp {
	height: em-calc(58);
	position:fixed;
	z-index:500;
	bottom:0;
	width:100%;
	box-shadow: 0 -2px 2px 0 #ccc;
	-webkit-box-shadow: 0 -2px 2px 0 #ccc;
	-moz-box-shadow: 0 -2px 2px 0 #ccc;
	background: $tgmp-back-color;
	@media (min-width:1000px) {
		padding-left:25%;
	}
	.btn {
		float: left;
		padding: em-calc(13) em-calc(12) em-calc(10) em-calc(12);
		font-size: em-calc(22);
	}
	.play.btn {
		font-size: em-calc(30);
		padding-top: em-calc(7);
	}
	a {
		text-decoration: none;
		color: $tgmp-text-color;
	}
	a:hover {
		text-decoration: none;
		color: $tgmp-highlight-color;
	}
	.disabled {
		opacity: .2;
	}
	a.disabled:hover {
		color: $tgmp-text-color;
	}
	.frame {
		.top {
			padding: em-calc(14) 0 em-calc(2) em-calc(5);
			display: block;
			overflow: hidden;
			strong, i {
				color: $tgmp-text-color;
				font-weight: $body-font-weight;
				a {
					text-transform:uppercase;
					color: lighten($tg-norm-color, 20%);
					font-size: em-calc(9);
					line-height: em-calc(12);
					letter-spacing: em-calc(2);
					padding-left: em-calc(15);
				}
			}
			span {
				float: right;
				font-size: em-calc(12);
				color: $tgmp-text-alt-color;
			}
		}
		.line-holder {
			display: block;
			overflow: hidden;
			padding: 0 em-calc(10) 0 em-calc(10);
			.time {
				float: left;
				font-size: em-calc(10);
				color: $tgmp-text-alt-color;
				margin-right: em-calc(10);
			}
			.line {
				overflow: hidden;
				background: $tgmp-dark-color;
				height: em-calc(6);
				position: relative;
				margin: em-calc(3) 0 0;
				span {
					height: em-calc(6);
					position: absolute;
					top: 0;
					left: 0;
					background: $tgmp-highlight-color;
				}
			}
		}
	}
	.row {
		margin:0;
	}
	div {
		text-align:center;
	}
}
#tgmp-tray {
	width: 100%;
	position:fixed;
	z-index:495;
	bottom:-1000;
	.content {
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.95);
		border: em-calc(10) solid $tgmp-back-color;
		.closebox {
			padding: em-calc(10) 0 em-calc(10) 0;
			.close {
				font-size: em-calc(20);
			}
		}
		a {
			text-decoration: none;
			color: $tgmp-back-color;
		}
		a:hover {
			text-decoration: none;
			color: $tgmp-highlight-color;
		}
		#ytplayer {
			margin-bottom: em-calc(20);
		}
		.leftcolumn {
			margin-top: em-calc(15);
		}
		.songbox a:scroll, .hover-pane a:hover {
			color: $tg-norm-color;
		}
		.scroll-pane {
			li {
				i.icon-volume-up {
					display:none;
				}
			}
			li.active {
				i.icon-volume-up {
					display:inline;
				}
				a {
					color: $tg-norm-color;
				}
			}
		}
		.videos {
			margin-top: em-calc(25);
		}
	}
}


@media #{$small} {
	#tgmp{
		.btn {
			padding-top: em-calc(24);
			font-size: em-calc(14);
		}
		.play.btn {
			font-size: em-calc(22);
			padding-top: em-calc(12);
		}
		.frame {
			.top {
				padding: em-calc(12) 0 em-calc(2);
				strong, i {
					padding-left: em-calc(10);
				}
				span {
					padding-right: em-calc(10);
				}
			}
		}		
	}	
}